
<!--TOP BUTTONS AND VIDEO   -->
 <div class="toprow">
 
  <div class="medium-12 large-12 small-12 columns">
   <button class="huabut mybutton" href="#">ΧΑΡΟΚΟΠΕΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ <img src="assets/hua.png" alt="HUA"></button>
   
  
  <ul class="inline-list right visrow">
   <li><button class="mybutton" id="ditbut" href="#">Informatics</button></li>
   <li><button class="mybutton" id="geobut" href="#">Geography</button></li>
   <li><button class="mybutton" id="ddnsbut" href="#">Dietology</button></li>
   <li><button class="mybutton" id="seebut" href="#">Home Economics</button></li>
   </ul>
  </div>

<div class="invisrow">
  <div class="medium-3 large-3 small-6 columns nopadding" style="text-align:center;"><button class="ditbut mybutton" href="#">Informatics</button></div>
  <div class="medium-3 large-3 small-6 columns nopadding" style="text-align:center;"><button class="geobut mybutton" href="#">Geography</button></div>
  <div class="medium-3 large-3 small-6 columns nopadding" style="text-align:center;"><button class="ddnsbut mybutton" href="#">Dietology</button></div>
  <div class="medium-3 large-3 small-6 columns nopadding" style="text-align:center;"><button class="seebut mybutton" href="#">House Economics</button></div>
</div>

 </div>
 
 <div class="contained">
  <div class="supertext">
    <h1>Realising. Improving. Ascending.<br></h1>
    <h2>Engaging career objectives through top level education</h2>
    
  </div>
  <div class="overlay">
      </div>
   <div class="coverphoto">
    <video autoplay="autoplay" width="100%" height="auto" loop="loop"> 
     <source type="video/webm" src="assets/video-header.webm">
     <img alt="Develop Experiences" width="100%" height="auto" src="assets/hua.jpg">
 </video>
   
  </div>
  </div>

<!-- THE BIG QUESTION-->
<section id="bigquestion">

 <div class="content">
 <div class="row">
  <div class="large-12 medium-12 columns">
 <h2>What we offer?</h2>
 <h3>A solid start for your career in Greece</h3>
 <p>Υπάρχουν πολλές εκδοχές των αποσπασμάτων του Lorem Ipsum διαθέσιμες, αλλά η πλειοψηφία τους έχει δεχθεί κάποιας μορφής αλλοιώσεις, με ενσωματωμένους αστεεισμούς, ή τυχαίες λέξεις που δεν γίνονται καν πιστευτές. Εάν πρόκειται να χρησιμοποιήσετε ένα κομμάτι του Lorem Ipsum, πρέπει να είστε βέβαιοι πως δεν βρίσκεται κάτι προσβλητικό κρυμμένο μέσα στο κείμενο. Όλες οι γεννήτριες Lorem Ipsum στο διαδίκτυο τείνουν να επαναλαμβάνουν 
 </p>
 </div>
  </div>
 
  </div>
</section>




<!-- BOX SLIDES OR NOT -->
<section id="boxes">
 <ul class="bxslider">
  <li>
   <div class="flexboxes">
    <div class="item1">
     <div class="itembox">
      <h2>Managing Capabilities</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore ma
      Lore incididunt ut labore et dolore ma<br>
      Lorem ipsum dolor sit asdasdlas.d,xm, .a,sd./,as.dlasd;amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
      ut labore et dolore ma Lore incididunt ut labore et dolore ma</p>
      <br>
      <button>Join us</button>
     </div>
    </div>
    <div class="item2">
   
  </div>
   </div>
 </li>
 <li>
  <div class="flexboxes">
    <div class="item4"></div>
    <div class="item3">
     <div class="itembox">
      <h2>Maximazing Potential</h2>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
       ut labore et dolore ma
       Lore incididunt ut labore et dolore ma<br>
       Lorem ipsum dolor sit asdasdlas.d,xm, .a,sd./,as.dlasd;amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
       ut labore et dolore ma Lore incididunt ut labore et dolore ma</p>
        <br>
       <button>Join us</button>
      </div>
    </div>
   </div>
 </li>
 </ul>
</section>
 
 
 
<!-- PROMISES -->
<section id="promises"> 
 <div class="row">
  <div class="large-4 medium-12 small-12 columns">
   <div class="info">
     <i class="fi-monitor" style="color: blue;"></i>
             <h3>Monitored progress</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
   </div>
  </div>
  <div class="large-4 medium-12 small-12 columns">
   <div class="info"> 
     <i class="fi-trophy" style="padding-left: 15px;color: gold;"></i>
       <h3>Absolutely Certified</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
         </p>
     </div> 
    </div>
  <div class="large-4 medium-12 small-12 columns">
    <div class="info"> 
             <i class="fi-shield" style="padding-left: 10px;color: #775006;"></i>
           <h3>Honored Diploma</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
     </div>
    </div>
 </div>
 
 <div class="row">
  <div class="large-4 small-12 large-offset-2 columns">
   <div class="info">
     <i class="fi-graph-trend" style="color: #38966B;"></i>
             <h3>Edge technologies</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
   </div>
  </div>
    
  <div class="large-4 small-12 columns end">
    <div class="info">
     <i class="fi-lightbulb" style="color: #FF0000;"></i>
             <h3 style="font-size: 0.9em;">Research opportunities</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
            </p>
    </div>
  </div>
  
  </div> 
</section>
 
<!-- QUESTIONS -->
<section id="questions">
 <div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <a href="#" class="question dit"><span>Information on your fingertips</span></a>
  </div>
  <div class="large-12 medium-12 small-12 columns">
   <a href="#" class="question geo"><span>Discover the earth</span></a>
  </div>
 
 
  <div class="large-12 medium-12 small-12 columns">
   <a href="#" class="question see"><span>Home life and wellness</span></a>
  </div>
  <div class="large-12 medium-12 small-12 columns">
   <a href="#" class="question ddns"><span>Master your health through nutrition</span></a>
  </div>
 </div>
</section>


<!-- MAP  -->
<section id="gmap">
 <div id="map"></div>
</section>

<!-- FOOTER  -->
<section id="linkfooter">
 <div class="row">
 <div class="large-8 large-centered medium-8 medium-centered small-12 columns"><span class="name">ΧΑΡΟΚΟΠΕΙΟ ΠΑΝΕΠΙΣΤΗΜΙΟ</span></div>

 </div>
 <div class="row">
  <div class="large-3 medium-3 small-4 columns">
   <h6 class="foothead">DEPARTMENTS</h6>
   <ul class="footul">
    <li><br>COMPUTER SCIENCE</li>
    <li><a href="#">Informatics & Telematics</a></li>
    <li><br>DYNAMICS AND PHYSICAL HISTORY OF EARTH</li>
    <li><a href="#">Geography</a></li>
    <li><br>NUTRITION EFFECTS ON THE HUMAN BODY </li>
    <li><a href="#">Dietology</a></li>
    <li><br>ART OF HOME MANAGEMENT</li>
    <li><a href="#">House Economics</a></li>
   </ul>
  </div>
  <div class="large-2 medium-2 small-4 columns">
   <h6 class="foothead">FACILITIES</h6>
   <ul class="footul">
    <li><br><a href="#">Library</a></li>
    <li><a href="#">Network Center</a></li>
    
    <li><a href="#">Quality Assurance</a><br></li>
    
   </ul>
   
   <img src="assets/hua.png" alt="HUA" style="margin-top:3em;">
  </div>
  <div class="large-3 medium-3 small-4 columns">
   <h6 class="foothead">CARREER OFFICE</h6>
   <ul class="footul">
    <li><br><a href="#">Internships</a></li>
    <li><a href="#">Employment and career structure</a></li>
    <li><a href="#">Counseling</a></li>
    <li><a href="#">Other offices</a><br></li>
   </ul>
   
   
  </div>
  
  <div class="large-4 medium-4 small-4 columns">
   <h6 class="foothead">CONTACT</h6>
   <ul class="footul">
    <li><br>Χαροκόπειο Πανεπιστήμιo</li>
    <li> Ελευθερίου Βενιζέλου 70 Καλλιθέα</li>
    <li> Τηλ. 2109549100</li>
    <li>Φαξ. 2109577050<br><br></li>
    <h6 class="foothead">SOCIAL NETWORKS</h6>
    <li style="height:29px;">
     <a  href="#"><i class="fi-social-facebook" style="color:#035EB7;"></i></a>
     <span>Facebook</span>
    </li>
    <li style="height:29px;">
     <a href="#"><i class="fi-social-instagram" style="color:#9b6954;"></i></a>
     <span>Instagram</span>
    </li>
    <li style="height:29px;">
     <a href="#"><i class="fi-social-twitter" style="color:#1dcaff;"></i></a>
     <span>Twitter</span>
    </li>
    <li style="height:29px;">
     <a href="#"><i class="fi-social-linkedin" style="color: #007bb5;"></i></a>
     <span>LinkedIn</span>
    </li>
   </ul>
    
  </div>
  </div>
 </section>
 
 